[data-chart-type] { display: none; }

.grid-stack-item-content {
	color: #2c3e50;
	text-align: center;
	border: 1px #000 solid;
}

.bbm-wrapper {
	padding: 0;
}

.copy {
	position: absolute;
	right: 0;
	margin-right: 30px;
}

.widget-controls {
	position: absolute;
	right: 5px;
	font-size: 150%;
}

.widget-container {
	height: 100%;
	pointer-events: none;
}

.builder {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	overflow-y: auto;
	background-color: #fff;
	z-index: 10000;
}

.bbm-modal__section a {
  color: #337ab7;
}